tips:
  list:
    "!":
      title: "Key item"
      icon: "🗝️"
    "$":
      title: "Buy"
      icon: "💰"
    "a":
      title: "Clothing"
      icon: "🎩"
    "b":
      title: "Boss"
      icon: "☠️"
    "choice":
      title: "Choice"
      icon: "🔀"
    "k":
      title: "Involves killing"
      icon: "💀"
    "e":
      title: "Eavesdrop"
      icon: "👂"
    "l":
      title: "Information/lore"
      icon: "📜"
    "ng+":
      title: "New Game+"
      icon: "NG+"
    "q":
      title: "Questline / future reward(s)"
      icon: "🔮"
    "s":
      title: "Unlock"
      icon: "🔓"
    "t":
      title: "Involves talking to an NPC"
      icon: "💬"
    "trophy":
      title: "Needed for an achievement/trophy"
      icon: "🏆"
    "x":
      title: "Exchange — use one item to gain another"
      icon: "➡️"
    "w":
      title: "Prosthetic tool"
      icon: "🛠️"
    "@":
      title: "Skill"
      icon: "🧬"
    "r":
      title: "Requires resting at a Sculptor's Idol."
      icon: "🔄"